*~
*pyc
.DS_Store
build/*
*.pbxuser
*.perspectivev3
*.build
build
CMakeFiles/*
CMakeLists.txt
CMakeFiles
docs/*
*.cache
*.log
confdefs.h
*.status
Makefile
stamp-*
config.h
libtool
conftest*
*.o
lib*.a
.deps/*.*o
hello
