
body{
 position:absolute;
 

}

div{
 position: absolute; 
 width: 650px;
 left: 90px;
}

div.headmenu{
 width: 750px; 
 left:60px;
 padding: 10px;
}

div.footmenu{
  width: 750px;
  left:40px;
  top: 1805px;
  padding: 10px;
}
div.oldolrcstyleheader{
 /*position: absolute;*/
 top:40px;
 left:20px;
}

div.ushrgif{
  left:0px;
  
}

div.olrcname{
 top:16px;
 left:120px;  
}




div.introduction{
  top:50px;
  margin-bottom: 0px;
}

div.pagecontentuscprelim{
  top:230px;
  margin-left: 30px;
}

div.searchboxes{
  top:440px;
  
}



h1.olrcname{
 color: #000080;
}


h3.pagetopichead{
 color: red;
 margin-bottom: 0px;
}

h4.pagesubhead{
  margin-bottom: 0px;
}

p.finalizeddata{
  margin-top:10px;
  font-weight: bold;
  font-size: .8em;
}




table.uscprelim{
  width: 630px;
  border-top: double;
  border-bottom: double;
  
  
}

th{
  padding-left: .5em;
  padding-right: .5em;
  text-align: left;
  font-size: .8em;
  font-variant: small-caps;
  /*border-bottom: solid;
  border-bottom-width: thin;*/
}


th.coltitles{
  width: 200px;
}

th.coldates{
  text-align: center;
}


th.colpubliclaws{
  text-align: center;
}


td{
  font-size: .8em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top:5px;
  padding-bottom:5px;
}

td.coltitles{
  border-top: solid;
  border-top-width: thin;
  padding-left:40px;

}

td.coldates{
 text-align:center;
 border-top: solid;
	border-top-width: thin;

}

td.colpubliclaws{
 text-align:center;
 border-top: solid;
	border-top-width: thin;

}

ul{
list-style-type:circle;
margin:0px;
padding:0px;
}
