
body{
 position:absolute;
 

}

div{
 position: absolute; 
 width: 650px;
 left: 90px;
}

div.headmenu{
 width: 750px; 
 left:10px;
 padding: 10px;
}

div.footmenu{
  width: 750px;
  left:10px;
  top: 850px;
  padding: 10px;
}
div.oldolrcstyleheader{
 /*position: absolute;*/
 top:40px;
 left:20px;
}

div.ushrgif{
  left:0px;
  
}

div.olrcname{
 top:16px;
 left:120px;  
}


div.pagetopichead{
  top:155px;
  margin-bottom: 0px;
}


div.betaexp{
  top:220px;
  border-top: double;
  border-bottom:double;
}



h1.olrcname{
 color: #000080;
}


h3.pagetopichead{
 color: red;
 margin-bottom: 0px;
}

h4.pagesubhead{
  margin-bottom: 0px;
}

p.pagetopictext{
  margin:0px;
  font-weight: bold;
  font-style: italic;
}

p.betaexptext{
  width: 630px;
  margin:0px;
 
}





